{% extends "base.html" %}

{% block content %}

<h1>Interpolación con matriz de Vandermonde</h1>

<form method="post">
    {% csrf_token %}
    <label>Valores de X (separados por espacios):</label><br>
    <input type="text" name="x"><br><br>

    <label>Valores de Y (separados por espacios):</label><br>
    <input type="text" name="y"><br><br>

    <button type="submit">Calcular</button>
</form>

{% if polynomial %}
<h2>Resultado:</h2>
<p><strong>Polinomio:</strong> {{ polynomial }}</p>
{% elif error %}
<p style="color:red;">{{ error }}</p>
{% endif %}
{% if image %}
<h3>Gráfica:</h3>
<img src="data:image/png;base64,{{ image }}" alt="Gráfica de interpolación">
{% endif %}

{% endblock content %}